<!doctype html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->


<!-- Mirrored from lovesome.biz/tf-template/believed/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Feb 2018 14:43:02 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ======= titles ======= -->
    <title><%= title %> </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="themewarehouse">
    <!-- ======= favicon ======= -->
    <link rel="icon" type="image/png" href="favicon.png">
    <!-- ======= Google Fonts ======= -->
    <!-- Lato+Raleway Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- ======= all css ======= -->
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- hover css -->
    <link rel="stylesheet" href="css/hover.css">
    <!-- hover css -->
    <link rel="stylesheet" href="css/lightbox.min.css">
    <!-- normalize css -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- slicknav css -->
    <link rel="stylesheet" href="css/slicknav.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- ======= preloader part start ======= -->
    <div class="preloader">
        <div class="wrapper">
            <div class="circle circle-1"></div>
            <div class="circle circle-1a"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <h1>Loading&hellip;</h1>
        </div>
    </div>
    <!-- ======= preloader part start ======= -->
<header class="header-area">
    <!-- top header area -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <!-- header contact -->
                    <div class="top-header-info">
                        <i class="fa fa-clock-o"></i> Sun - Sat, 9am - 5pm
                        <span class="seprator">|</span>
                        <a href="#">
                            <i class="fa fa-phone"></i>11-22-33-44-55</a>
                        <span class="seprator">|</span>
                        <a href="mailto:believed@gmail.com">
                            <i class="fa fa-envelope"></i>test@test.com</a>
                    </div>
                </div>
                <!-- <div class="col-md-5 text-right">
                    
                    <div class="top-header-info header-right">
                        <a href="#">faq</a><span class="seprator">|</span>
                        <a href="#">contact us</a><span class="seprator">|</span>
                        <a href="#">live chat</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- menu area -->
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <!-- logo part -->
                    <div class="believed-logo">
                        <a href="index.html">
                            <img src="img/ngo.png" alt="">
                        </a>
                    </div>
                    <!-- mobile menu wraper -->
                    <div class="responsive-menu-wrap"></div>
                </div>
                <div class="col-md-10">
                    <!-- menu part -->
                    <nav class="main-menu">
                        <ul class="navigation">
                            <li>
                                <a href="/">home</a>
                            </li>
                            <li>
                                <a href="/about">about us</a>
                            </li>
                            <li>
                                <a href='#'>causes</a>
                            </li>
                            <li>
                                <a href="#">gallery</a>
                            </li>
                            <li>
                                <a href="#">volunteers</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <!-- <li><a href="#">causes<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="drop-menu">
                                    <li><a href="causes-no-sidebar.html">causes no-Sidebar</a></li>
                                    <li><a href="causes-left-sidebar.html">causes left</a></li>
                                    <li><a href="causes-right-sidebar.html">causes right</a></li>
                                    <li><a href="causes-details-left.html">single causes left</a></li>
                                    <li><a href="causes-details-right.html">single causes right</a></li>
                                </ul>
                            </li> -->
                            <!-- <li><a href="#">gallery<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="drop-menu">
                                    <li><a href="gallery-one.html">gallery style one</a></li>
                                    <li><a href="gallery-two.html">gallery style two</a></li>
                                    <li><a href="gallery-three.html">gallery style three</a></li>
                                </ul>
                            </li> -->
                            <!-- <li><a href="#">volunteers<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="drop-menu">
                                    <li><a href="volunteers-3col.html">volunteers 3col</a></li>
                                    <li><a href="volunteers-4col.html">volunteers 4col</a></li>
                                    <li><a href="volunteers-details.html">single volunteers</a></li>
                                </ul>
                            </li> -->
                            <!-- <li><a href="#">events<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="drop-menu">
                                    <li><a href="events-3col.html">events 3col</a></li>
                                    <li><a href="events-4col.html">events 4col</a></li>
                                    <li><a href="events-details.html">single events</a></li>
                                </ul>
                            </li>
                            <li><a href="#">blog<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="drop-menu">
                                    <li><a href="blog-no-sidebar.html">blog no-Sidebar</a></li>
                                    <li><a href="blog-left-sidebar.html">blog left</a></li>
                                    <li><a href="blog-right-sidebar.html">blog right</a></li>
                                    <li><a href="blog-details-left-sidebar.html">single blog left</a></li>
                                    <li><a href="blog-details-right-sidebar.html">single blog right</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">contact us</a></li> -->
                        </ul>
                    </nav>
                    <!-- donate box -->
                    <!-- <div class="donate-box">
                        <a href="#" class="donate-btn hvr-shutter-out-horizontal">donate</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</header>